/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESET END */

/* COMMON */

.wrapper {
    width: 70%;
    margin: auto;
}

nav {
    background-color: #E579E6;
    height: 100px;
    margin: 10px 0 10px 0;
}

.banner {
    background-color: #E1D67A;
    height: 400px;
    margin: 0 0 10px 0;
}

main {
    background-color: #0086FF;
    margin: 0 0 5px 0;
}

.main-title {
    background-color: #ABCFE6;
    height: 100px;
    margin: 0 0 10px 0;
}

.col {
    float: left;
    background-color: #ABCFE6;
    height: 400px;
}

.col-edge {
    width: 20%;
}

.col-center {
    width: calc(60% - 20px);
    margin: 0 10px 10px 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.page-footer {
    height: 100px;
    background-color: #8802FE;
    margin: 0 0 10px 0;
}

/* COMMON END */